@using Fault_handling_system.Views.Account
@*

*@
@{
}

<ul class="nav nav-pills nav-stacked">
    <li class="@ManageAdminNavPages.RegisterNavClass(ViewContext)"><a asp-action="Register">Register a new user</a></li>
    <li class="@ManageAdminNavPages.ManageUsersNavClass(ViewContext)"><a asp-action="ManageUsers">Manage users</a></li>
    <li class="@ManageAdminNavPages.InstructionNavClass(ViewContext)"><a asp-controller="Account" asp-action="AdminGuide">Admin guide</a></li>
</ul>
