@{
    Layout = "/Views/Shared/_MyAdminLayout.cshtml";
}
@using Fault_handling_system.Views.Account
@model RegisterViewModel
@{
    Layout = "/Views/Admin/_Layout.cshtml";
    ViewData["Title"] = "Create a new account";
    ViewData.AddActivePage(ManageAdminNavPages.Register);
}
<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <hr />
            <!--<div asp-validation-summary="All" class="text-danger"></div>-->
            <div class="form-group">
                <label asp-for="Login"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            *@
            <div class="form-group">
                @Html.LabelFor(m => m.Role)
                @Html.DropDownListFor(m => m.Role, Model.Roles, "- Please select a role -", new { @class = "form-control" })
            </div>
            
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
