@using Microsoft.Extensions.Options
@using Fault_handling_system.Models
@inject IOptions<AdminContact> AdminContactOptions

@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Contact an admin if you have a trouble or need a new account.</h3>

@AdminContactOptions.Value.FullName<br />
@AdminContactOptions.Value.Email<br />
@AdminContactOptions.Value.PhoneNumber
