@{
    ViewData["Title"] = "User Guide";
}
<h2>@ViewData["Title"]</h2>

<div style="max-width:800px">
    <p align="justify">
        For graphical guide of each panel please click on the green icon located in the right upper corner.
    </p>
    <p align="justify">
        On the main page You can see a greetings panel with brief description of a system functions.
    </p>
    <p align="justify">
        In the Reports panel You can view, edit and delete only the reports You are assigned to in any way by clicking on a appropriate button in each report's row.
    </p>
    <p align="justify">
        You can create a new report manually by clicking on the "Create" button.
        <ul>
            <li style="text-align:justify">A report creation form will appear, which You can fill in and create a new report.</li>
        </ul>
    </p>
    <p align="justify">
        You can export reports to .xlsx file by clicking on the "Export" button.
    </p>
    <p align="justify">
        You can filter reports by clicking on "Filter" button.
        <ul>
            <li style="text-align:justify">A filter menu will appear, where You can set the filters, apply them and save them for quick use in the future.</li>
        </ul>
    </p>
    <p align="justify">
        In the Scheduler panel You can view all of the active schedules.
        <ul>
            <li style="text-align:justify">You can create a new schedule by clicking on "Create new" button and setting it up as You want.</li>
            <li style="text-align:justify">You can stop or remove existing schedules by clicking on the buttons in each schedule's row.</li>
        </ul>
    </p>
    <p align="justify">
        To manage Your account click on the greeting message in the right upper corner. A panel to manage Your account will appear.
        <ul>
            <li style="text-align:justify">You can update Your profile information in the "Profile" tab.</li>
            <li style="text-align:justify">You can change Your password in the "Password" tab.</li>
            <li style="text-align:justify">You can enable two-factor authentication in "Two-factor authentication" tab.</li>
        </ul>
    </p>
</div>