body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.collapsibleForm .label-header {
    color: whitesmoke;
    font-weight: bold;
    font-size: 32px;
    height: 46px;
    /*margin-left: 5px;
    float: left;*/
}

.collapsibleForm .label-black {
    color: black;
    font-weight: bold;
    font-size: 14px;
    height: 26px;
    margin-bottom: 5px;
}

.collapsibleForm ul li {
    margin-bottom: 3px;
}

div.dropdown-container {
    width: 180px;
}

select.shrinked-dropdown {
    width: inherit;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Override bootstrap settings */
.btn-primary {
  color: #fff;
  background-color: #124191;
  border-color: #2e6da4;
}

.navbar-inverse {
  background-color: #124191;
  border-color: #080808;
}

.navbar-inverse .navbar-brand {
  color: #dcdcdc;
}

.navbar-inverse .navbar-nav > li > a {
  color: #dcdcdc;
}

.panel-primary {
  border-color: #124191;
}

.panel-primary > .panel-heading {
  color: #fff;
  background-color: #124191;
  border-color: #337ab7;
}