body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 56px;
}

.sidenav .label-header {
    color: whitesmoke;
    font-weight: bold;
    font-size: 32px;
    height: 46px;
    margin-left: 5px;
    float: left;
}

.sidenav .label-white {
    color: whitesmoke;
    font-weight: bold;
    font-size: 14px;
    height: 26px;
    margin-bottom: 5px;
}

div.dropdown-container {
    width: 180px;
}

select.shrinked-dropdown {
    width: inherit;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
