@model IEnumerable<Fault_handling_system.Models.Report>

@{
	ViewData["Title"] = "Index";
	ViewData["IndexUrl"] = this.Context.Request.Path + this.Context.Request.QueryString;
}

<!--<h2>Index</h2>-->
<input type="button" value="Create" onclick="location.href='@Url.Action("Create", "Reports")'" class="btn btn-info" style="margin-top: 5px" />
<button id="openFilterMenu" class="btn btn-info sidenavToggle" onclick="openNav()" style="margin-top: 5px">Open filter menu</button>
<button id="helpBtn" class="btn btn-success" style="margin-top: 5px; float: right">
	<i class="glyphicon glyphicon-question-sign"></i>
</button>

@{ Html.RenderPartial("_FilterSidebarPartial"); }

@{ Html.RenderPartial("_ReportTablePartial", Model); }

@using (Html.BeginForm("Export", "Reports", FormMethod.Post))
{
	<input class="btn btn-info" type="submit" value="Export" />
}

@section Scripts {
	<script src="~/js/ReportsScripts.js"></script>
}