@model IEnumerable<Fault_handling_system.Models.Report>

@{
	ViewData["Title"] = "Index";
	ViewData["IndexUrl"] = this.Context.Request.Path + this.Context.Request.QueryString;
}

<!--<h2>Index</h2>-->
<input type="button" value="Create" onclick="location.href='@Url.Action("Create", "Reports")'" class="btn btn-info" style="margin-top: 5px" />
<!--<a id="openFilterMenu" class="btn btn-info" href="#filterCollapsible" data-toggle="collapse" style="margin-top: 5px">Open filter menu</a>-->
@using (Html.BeginForm("Export", "Reports", FormMethod.Post, new { style="display: inline" }))
{
	<input class="btn btn-info" type="submit" value="Export" style="margin-top: 5px"/>
}
<a id="helpBtn" class="btn btn-success" href="javascript:void(0)" onclick="javascript:introJs().start();" style="margin-top: 5px; float: right">
	<i class="glyphicon glyphicon-question-sign"></i>
</a>

@{ Html.RenderPartial("_FilterSidebarPartial"); }

@{ Html.RenderPartial("_ReportTablePartial", Model); }

@section Scripts {
	<script src="~/js/ReportsScripts.js"></script>
}